* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("background.jpg");
}

.nav {
    z-index: 100;
    width: 100%;
    background: white;

}
















img.aboutimg{
    transform: rotate(180deg);
}

