* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
    background-image: url("../images/background.JPG");
    overflow-y: scroll;
}

.nav {
    z-index: 100;
    width: 100%;
    background: white;
    display: inline-block;
    height: 55px;
    border-bottom: 5px #cccccc;
    
}



.links{
    text-decoration: darkgray;
    float: right;
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 10px;
    margin-right: 200px;
    color: #777777;
    
    
}

.logo{
    width: 178px;
    height: 56px;
    float: left;
    position: absolute;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: 20px;
    color: #ffffff;
    padding-top: 7px;
    padding-left: 4px;
    
}



.head{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}
    
.aboutimg {
    
    height: 250px;
    width: 325px;
    float: left;
    padding: 10px 20px 10px 20px;
    margin: 20px;
    clear: both;
}



.text{
    
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after{
    clear: both;
}

.cf{
    *zoom: 1;
}


.nav h1{
    display: inline-block;
    color: white;
    
}

.content {
    display: block;
    
    padding: 20px;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    font-family: Arial; 
    color: #777777;
    background-color: #ffffff;
    border-top: 5px #cccccc;

}

.content-form{
    padding: 20px;
}


footer {
    position: fixed;
    bottom: 0;
    display: block;
    background-color: #666666;
    color: #777777;
    text-align: center;
    padding: 20px 0 20px 0;
    width: 100%;
    border-top: 5px #4aaaa5;
    float: bottom;
    
    
}

.about{
    color: #4aaaa5;
}

.portfolio-list{
    list-style-type: none;
}


.text{
   width:300px; 
}

.port-1{
    float:left;
}

